{% extends "@FOSUser/layout.html.twig" %}

{% block headerCrumb %}
    <a class="header-title" href="{{ path('fos_user_profile_show') }}" > Profile</a>

    <span class="pull-right"><a href="{{ path('fos_user_profile_edit') }}" title="login"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile</a></span>

{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
