{% extends 'shops.html.twig' %}


    {% block breadCrumb %}
        <header class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="header-title">New Category</h2>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}


{% block content %}
<section>
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
        
            {{ form_start(form) }}
            <h4 class="text-center text-info">Create New Category</h4><hr>
                {{ form_widget(form) }}
                    <div class="">
                        <input class="btn btn-sm btn-primary" type="submit" value="Create" />
                        <a class="btn btn-sm btn-default pull-right" href="{{ path('category_index') }}" title=" profile">Cancel</a>
                    </div>
            {{ form_end(form) }}


        </div>
    </div>
</section>
{% endblock %}
